*
{
	margin: 0px;
	padding: 0px;
}

a:link {
	color: #193A6C;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

a:visited {
	color: #193A6C;
}

body {	
	background: #6586B8 url(images/back_all.jpg) no-repeat right top;
	font: 12px Arial;
	color: #193A6C;
}

.company_title
{
	width: 1020px;
	height: 60px;
	text-align: center;
	font-size: 27px;
	font-family: STKaiti, KaiTi, Georgia, sans-serif;
	color: #F8FAF7;
	margin: 30px 210px 10px 210px;
}

#back {
	width: 1020px;
	background: #D5E5FE;
	margin: 0 auto;
	padding-top: 10px;
}

#header {
	text-align: left;		
}

.header_image {
	height: 300px;
	width: 999px;
	background: url(images/slider5.jpg);
	margin-left: 10px; 
}

#main {
	padding: 10px;
	margin: 0 10px 0 10px;
}

#right {
	float: right;
	width: 650px;
}

#right h2 {
	height: 45px;
	margin: 0;
	padding: 22px 0 0 40px;
	color: #ffffff;
	background: url(images/title_right.png) no-repeat;
	background-size: 650px 65px;
}

#right h3 {
	margin: 0;
	padding: 0px 30px 0px 30px;
	font-size: 14px;
	font-weight: normal;
	color: #0A254F;
}

#right table {
	margin: 5px 30px 5px 30px;
	width: 590px;
	text-align: center;
}

#right .pics {
	padding: 0px 10px 5px 10px;
}



#right .verticalimg {
	width: 180px;
	height: 250px;
}

#right .horizontalimg {
	width: 280px;
	height: 180px;	
}

#left {
	width: 300px;
	margin: 6px 0 0 15px;
	background: url(images/business_card_bg.png) repeat-x;
}

#left .title {
	height: 31px;
	font-size: 14px;
	font-weight: bold;
	padding: 13px 0 10px 20px;
	color: #ffffff;
	background: url(images/title_left.png) no-repeat;
	background-size: 300px 52px;
	background-position: left top;
	line-height: 26px;
}

#left img {
	height: 25px;
	float: left;
	width: 25px;
}

#left table {
	font-size: 14px;
	font-weight: normal;
	margin:10px 10px 20px 20px;
	line-height: 20px;
}

#left td {
	vertical-align: top;
	text-align: justify;
}

#left .question {
	width: 70px;
	font-weight: bold;
	text-align：justify
}

#left .answer {
	text-align: left;
}

#footer {
	height: 50px;
	clear: both;
	padding-top: 20px;
	border-top: 5px solid #6586B8;
	background: url(images/footer.gif) repeat-x bottom;
}

#footer p {
	margin: 0;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
}

#footer a {
	color: #ffffff;
}


/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/


#slider-wrapper {
    background:url(images/top.jpg) repeat-x;
    width: 999px;
    height: 300px;
    margin:0 auto;
}

#slider {
	position:relative;
    width: 999px;
    height: 300px;
}

#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	width: 999px;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:260px;
	bottom:-42px;
	display: none;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}
